{{ form_start(form, {'action': path('nordcode_sylius_erase_personal_data_plugin_shop_request_personal_data_erasure')}) }}
{{ form_row(form._token) }}
<button type="submit" class="ui fluid large primary submit button">{{ 'nordcode_sylius_erase_personal_data_plugin.shop.erase_personal_data'|trans }}</button>
{{ form_end(form, {'render_rest': false}) }}
